@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4">Welcome to Fun Run 2025</h1>
        <a href="/Register/Index" class="btn btn-light">Register Now</a>
    </div>
</div>